<%- include('partials/header'); -%>
<h1>Contact</h1>
<br>
<div class="contact-box">
<div class="contactinfo">
    <table>
        <tr>
            <td>Email</td>
            <td>chandrimaroychowdhury1999@gmail.com</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>+91-9876543210</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>B/296, B.P. Township, Kolkata-700094, West Baengal, India.</td>
        </tr>
    </table>
</div>
</div>
<%- include('partials/footer'); -%>